/Users/harshitarora/Library/CloudStorage/OneDrive-Personal/My Stuff/Coding/VCT Hackathon/vct-esports-manager/.env
/Users/harshitarora/Library/CloudStorage/OneDrive-Personal/My Stuff/Coding/VCT Hackathon/vct-esports-manager/game-changers
/Users/harshitarora/Library/CloudStorage/OneDrive-Personal/My Stuff/Coding/VCT Hackathon/vct-esports-manager/vct-challengers
/Users/harshitarora/Library/CloudStorage/OneDrive-Personal/My Stuff/Coding/VCT Hackathon/vct-esports-manager/vct-international
/Users/harshitarora/Library/CloudStorage/OneDrive-Personal/My Stuff/Coding/VCT Hackathon/vct-esports-manager/processedData
/Users/harshitarora/Library/CloudStorage/OneDrive-Personal/My Stuff/Coding/VCT Hackathon/vct-esports-manager/.venv
/Users/harshitarora/Library/CloudStorage/OneDrive-Personal/My Stuff/Coding/VCT Hackathon/vct-esports-manager/.vscode
